<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Nueva Categoría</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          crossorigin="anonymous">
</head>

<body>
<div class="container">

    <h1 class="mt-4">Nueva Categoría</h1>
    <hr>

    <form th:action="@{/guardar_categoria}"
          th:object="${categoria}"
          method="POST">

        <input type="text"
               th:field="*{nombre}"
               placeholder="Nombre de la categoría"
               class="form-control mb-3 col-4"
               required>

        <input type="text"
               th:field="*{descripcion}"
               placeholder="Descripción"
               class="form-control mb-3 col-6">

        <button type="submit" class="btn btn-info">
            Guardar
        </button>
    </form>

    <hr>

    <a th:href="@{/categorias}">
        Volver a categorías
    </a>

</div>
</body>
</html>
