<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Nuevo Pedido</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
<div class="container">

    <h1 class="mt-4">Nuevo Pedido</h1>
    <p class="text-muted">
        Inicio del pedido
    </p>

    <hr>

    <form th:action="@{/guardar_pedido}"
          th:object="${pedido}"
          method="POST">

        <input type="text"
               th:field="*{cliente}"
               placeholder="Nombre del cliente"
               class="form-control mb-3 col-4"
               required>

        <button class="btn btn-success">
            Empezar pedido
        </button>
    </form>

    <hr>
    <a th:href="@{/pedidos}">Cancelar</a>

</div>
</body>
</html>
